:root {
    --background: #DBDBDB;
    --color-1: #BF5B21;
}

body {
    margin: 0;
    padding: 0;
    /*font-family: Arial, sans-serif;*/
    background-color: var(--background);
}

header {
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    background-color: var(--background);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.logo-container {
    /*display: flex;*/
    /*justify-content: flex-start;*/
}

.logo {
    height: 50px;
    cursor: pointer;
    margin-right: 34px; /* Gap between logo and HOME */
}

.nav_links {
    display: flex;
    list-style: none;
    margin-left: 3.8in;
}

.nav_links li {
    margin-right: 51px; /* Adjusted spacing between menu items */
}

.nav_links li:last-child {
    margin-right: 0; /* No gap after the last menu item */
}

.nav_links li a {
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 8px 0;
    transition: color 0.3s; /* Smooth transition for color change */
}


.nav_links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3px;
    background: var(--color-1); /* Your desired underline color */
    transition: width 0.2s;
}

.nav_links li a:hover::after {
    width: 100%;
}

.nav_links li a:hover {
    color: var(--color-1);
}

.cont {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
}

.cont input[type="text"] {
    width: 100%;
    max-width: 236px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.cont input[type="text"]:focus {
    border-color: var(--color-1);
    box-shadow: 0 0 5px var(--color-1);
}

.cta {
    display: flex;
    gap: 10px;
}

.cta .button {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cta .button a {
    /*font-weight: bold;*/
    text-decoration: none;
    color: white;
}

.cta .button:hover {
    background-color: white;
    a {
        color: black;
    }
}

header > * {
    display: flex;
    align-items: center;
}

