*:root {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
    --background: #DBDBDB;
    --color-1: #BF5B21;
    --color-1-light: #da7e49;
    overflow-x: hidden;
    --icon-size: 50px;
    --main-color: #e9f1f4;
}


body {
    background-color: var(--background);
    font-family: Arial, sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

.logo {
    max-width: 100%;
    width: 5%;
    height: fit-content;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 12px 20px 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-1);
    transition: width 0.3s ease;
}

.nav_links li a:hover::after {
    width: 100%;
}

.nav_links li a:hover {
    color: var(--color-1);
}

.cta button {
    padding: 9px 25px;
    margin-bottom: 7px;
    background-color: var(--color-1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    opacity: 0.8;
    color: white;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #FFF;
    transition: all 0.3s ease;
}

li a {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}




.search {
    margin-top: 11px;
    display: table;
    margin-right: 160px;
    margin-left: -94px;

  input {
      background: none;
      border: none;
      outline: none;
      width: 28px;
      min-width: 0;
      padding: 0;
      z-index: 1;
      position: relative;
      line-height: 18px;
      margin: 5px 0;
      font-size: 14px;
      -webkit-appearance: none;
      font-family: 'Mukta Malar';
      transition: all .6s ease;
      cursor: pointer;
      color: #fff;
      & + div {
          position: relative;
          height: 28px;
          width: 96%;
          margin: -28px 0 0 0;
          svg {
              display: block;
              position: absolute;
              height: 28px;
              width: 160px;
              right: 0;
              top: 0;
              fill: none;
              stroke: #fff;
              stroke-width: 1.5px;
              stroke-dashoffset: 212.908 + 59;
              stroke-dasharray: 59 212.908;
              transition: all .6s ease;
          }
      }
      &:not(:placeholder-shown),
      &:focus {
          width: 160px;
          padding: 0 4px;
          cursor: text;
          &+ div {
              svg {
                  stroke-dasharray: 150 212.908;
                  stroke-dashoffset: 300;
              }
          }
      }
  }
}

::selection {
  background: rgba(#fff, .2);
}
::-moz-selection {
  background: rgba(#fff, .2);
}