<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Demo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <img class="logo" src="/static/images/logo.png" alt="LOGO">
        </div>

        <nav>
            <ul class="nav_links">
                <li><a href="index.html">HOME</a></li>
                <li><a href="prod.html">PRODUCTS</a></li>
                <li><a href="#">BRANDS</a></li>
<!--                <li><a href="sell.html">TOP SELLING</a></li>-->
            </ul>
        </nav>

        <div class="cont">
            <input placeholder="Search..." id="search-box" class="js-search" type="text">
            <button id="search-btn">
                <img src="/images/search.svg" alt="">
            </button>
        </div>

        <div class="cta">
            <a class="button" href="login.html">Login</a>
            <a class="button" href="signup.html">Sign Up</a>
        </div>

    </header>


</body>
</html>
