<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="logo-container">
        <img class="logo" src="/static/images/logo.png" alt="LOGO">
    </div>
temp
    <nav>
        <ul class="nav_links">
            <li><a href="/templates/index.html">HOME</a></li>
            <li><a href="/templates/prod.html">PRODUCTS</a></li>
            <li><a href="/templates/brand.html">BRANDS</a></li>
<!--            <li><a href="sell.html">TOP SELLING</a></li>-->
        </ul>
    </nav>

    <div class="cont">
        <input placeholder="Search..." id="search-box" class="js-search" type="text">
        <button id="search-btn">
            <img src="/images/search.svg" alt="">
        </button>
    </div>

    <div class="cta">
        <a class="button" href="login.html">Login</a>
        <a class="button" href="signup.html">Sign Up</a>
    </div>


</header>

<div class="container">
    <div class="left-section">
        <h1>Jump right back in <span class="highlight">UrbanWeaver</span>, right where you left</h1>
    </div>
    <div class="right-section">
     <!--   <h2>Log in</h2>
        <p>Start your journey with UrbanWeaver? <a href="signup.html">Create an account</a></p>
        <form id="login">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Enter your password" required>
            <button type="submit"><b>Log in</b></button>
        </form>-->
        <!-- From Uiverse.io by ammarsaa -->
        <form class="form">
            <p class="title">Log In </p>
            <p class="message">Start your journey with UrbanWeaver? <a href="signup.html">Create an account</a></p>
        <!--    <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Firstname</span>
                </label>

                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Lastname</span>
                </label>
            </div>-->

            <label>
                <input class="input" type="email" placeholder="" required="">
                <span>Email</span>
            </label>

            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Password</span>
            </label>
           <!-- <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Confirm password</span>
            </label>-->
            <button class="submit">Submit</button>
        </form>
        <p>Or log on with</p>
        <div class="social-buttons">
            <button class="google-btn">
                <img src="/static/images/GOOGLE.png" alt="Google">
                Google
            </button>
            <button class="apple-btn">
                <img src="/static/images/APPLE.png" alt="Apple">
                Apple
            </button>
        </div>
    </div>
</div>
</body>
</html>
