<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/prod.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
</head>
<body>



<header>
    <div class="logo-container">
        <img class="logo" src="/static/images/logo.png" alt="LOGO">
    </div>

    <nav>
        <ul class="nav_links">
            <li><a href="index.html">HOME</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="brand.html">BRANDS</a></li>
<!--            <li><a href="sell.html">TOP SELLING</a></li>-->
        </ul>
    </nav>

    <div class="cont">
        <input placeholder="Search..." id="search-box" class="js-search" type="text">
        <button id="search-btn">
            <img src="/static/images/search.svg" alt="">
        </button>
    </div>

    <div class="cta">
        <a class="button" href="/templates/login.html">Login</a>
        <a class="button" href="/templates/signup.html">Sign Up</a>
    </div>
</header>

    <main>
        <h1>PRODUCTS</h1>
        <p>Check out all the products we have to offer here on UrbanWeave. If you encounter any problem, report it through our query system.</p>
        <hr>
    </main>



<div class="maindata">

    <div id="menu">

        <br>

        <h2>Filters</h2>

        <div class="filter-section">
            <div class="filter-title">CASUALS</div>
            <div class="filter-options">
                <label><input type="checkbox" value="tshirts">T-Shirts</label>
                <label><input type="checkbox" value="shorts">Shorts</label>
                <label><input type="checkbox" value="jeans">Jeans</label>
                <label><input type="checkbox" value="jogging-suits">Jogging Suits</label>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-title">FORMALS</div>
            <div class="filter-title">MEN</div>
            <div class="filter-options">
                <label><input type="checkbox" value="shirts">Shirts</label>
                <label><input type="checkbox" value="pants">Pants</label>
                <label><input type="checkbox" value="ties">Ties</label>
                <label><input type="checkbox" value="two-piece-suits">Suits (Two-piece)</label>
                <label><input type="checkbox" value="three-piece-suits">Suits (Three-piece)</label>
                <label><input type="checkbox" value="shoes">Shoes</label>
                <label><input type="checkbox" value="blazers">Blazers</label>
                <label><input type="checkbox" value="vests">Waistcoats/Vests</label>
            </div>

            <div class="filter-title">WOMEN</div>
            <div class="filter-options">
                <label><input type="checkbox" value="pantsuits">Business Suits (Pantsuit)</label>
                <label><input type="checkbox" value="gowns">Formal Dresses (Gowns)</label>
                <label><input type="checkbox" value="two-piece-suits">Suits (Two-piece)</label>
                <label><input type="checkbox" value="three-piece-suits">Suits (Three-piece)</label>
                <label><input type="checkbox" value="heels">Shoes (Heels, Flats)</label>
            </div>
        </div>

        <div class="filter-options">
            <div class="filter-section">
                <div class="filter-title">TRADITIONAL</div>
                <label><input type="checkbox" value="saares">Sarees</label>
                <label><input type="checkbox" value="lehengas">Lehenga</label>
                <label><input type="checkbox" value="ghaghra-cholis">Ghagra Choli</label>
                <label><input type="checkbox" value="kurta-pajamas">Kurta Pajamas</label>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-title">INDO-WESTERN</div>
            <div class="filter-options">
                <label><input type="checkbox" value="kurtis">Kurtis</label>
                <label><input type="checkbox" value="jodhpuris">Jodhpuri Suits</label>
                <label><input type="checkbox" value="kurta-jackets">Kurtas with jackets</label>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-title">FOOTWEAR</div>
            <div class="filter-options">
                <label><input type="checkbox" value="sneakers">Sneakers</label>
                <label><input type="checkbox" value="sport-shoes">Sports Shoes</label>
                <label><input type="checkbox" value="formal-shoes">Formal Shoes</label>
                <label><input type="checkbox" value="sandals">Sandals</label>
                <label><input type="checkbox" value="heels">Heels</label>
                <label><input type="checkbox" value="boots">Boots</label>
            </div>
        </div>
    </div>


    <div id="pageContent">
        <div class="grid-item">
            <a href="#">
                <img src="/images/a_s_shirt.jpg" alt="Image 1"><span class="shirts">Allen Solly Cotton Shirt</span><br><hr>
                1200
            </a>
        </div>
        <div class="grid-item"><a href="#"><img src="/images/solo_leveling.jpg" alt="Image 2"><span class="tshirts">Solo Leveling T-Shirt</span><br><hr>350</a></div>
        <div class="grid-item"><a href="#"><img src="/images/rt_women.jpg" alt="Image 3"><span class="boots">Red Tape Boots</span><br><hr>2600</a></div>
        <div class="grid-item"><a href="#"><img src="/images/rt_men_boots.jpg" alt="Image 4"><span class="sneakers">Red Tape Sneakers</span><br><hr>2400</a></div>
        <div class="grid-item"><a href="#"><img src="/images/raymond_vest.png" alt="Image 5"><span class="blazers">Raymonds Vest</span><br><hr>3200</a></div>
        <div class="grid-item"><a href="#"><img src="/images/AllenSollysuit2pc.png" alt="Image 6"><span class="two-piece-suits">Allen Solly Two Piece Suit</span><br><hr>5500</a></div>
        <div class="grid-item"><a href="#"><img src="/images/P_Eng_blazer.png" alt="Image 7"><span class="vests">Peter-England Blazer</span><br><hr>850</a></div>
        <div class="grid-item"><a href="#"><img src="/images/jodhpuri.png" alt="Image 8"><span class="jodhpuris">Jodhpuri set Black</span><br><hr>4500</a></div>
        <div class="grid-item"><a href="#"><img src="/images/heels.jpg" alt="Image 9"><span class="heels">Womens Heels</span><br><hr>900</a></div>
    </div>
</div>



<script src="/js/search.js"></script>
<script src="/js/prod.js"></script>


</body>
</html>
